---
import Button from '@/components/Button.jsx';
import Benefits from './Benefits.astro';
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';
---

<section id="about" class="my-2x w-full">
  <div
    class="flex w-full flex-col-reverse justify-between gap-2x tablet:flex-row"
  >
    <div
      class="flex flex-col max-tablet:items-center max-tablet:justify-center max-tablet:text-center"
    >
      <h3
        id="content-about"
        class="balanced mb-small font-cursive text-title drop-shadow"
      >
        Running your own business is tough enough
      </h3>
      <p id="content-about" class="my-small max-w-[55ch]">
        That&apos;s why Majic wants to provide a one-stop shop for businesses
        who need worry free web design & development services at a fair rate.
      </p>
      <div id="content-about">
        <Button
          client:visible
          aria="See our affordable pricing"
          margin="mt-sm max-w-min"
        >
          See our affordable pricing
        </Button>
      </div>
    </div>
    <div class="w-full translate-y-1 max-tablet:mx-auto">
      <LottieAnimation src="animations/workingV2.json" autoplay="visible" />
    </div>
  </div>
  <div
    id="bg-mask"
    class="absolute left-0 z-0 my-2x flex w-screen items-center justify-center"
  >
    <div id="benefits">
      <Benefits />
    </div>
  </div>
  <div class="invisible z-10 my-2x flex items-center justify-center">
    <Benefits />
  </div>
</section>

<script>
  const container = document.querySelector('.main-container');

  function updateGradientStop() {
    const inner = window.innerWidth;
    const containerWidth = window.getComputedStyle(container).width;

    const fixedWidth = parseInt(
      containerWidth.slice(0, containerWidth.length - 2),
    );
    console.log({ 'Window Width': inner }, { 'Container Width': fixedWidth });

    const gradientStart = `${(inner - fixedWidth) / 2 + 25}px`;
    const gradientEnd = `${inner - (inner - fixedWidth) / 2 - 35}px`;
    console.log(gradientEnd);

    document.documentElement.style.setProperty(
      '--gradient-start',
      gradientStart,
    );
    document.documentElement.style.setProperty('--gradient-end', gradientEnd);
  }

  window.addEventListener('resize', updateGradientStop);

  updateGradientStop();
</script>
