---
import benefits from '@/constants/benefits';
---

<div
  id="benefits"
  class="container relative z-20 my-2x grid w-screen grid-cols-3 grid-rows-2 p-0"
>
  {
    benefits.map(({ maskId, title, content, top }) => (
      <div
        id={maskId}
        class="mask z-50 col-span-1 w-full bg-light-purple pl-6 text-dark-purple"
      >
        <div class="relative mb-[6.5rem] mt-40">
          <span class="absolute h-[2.15rem] w-1 rounded-lg bg-blurple" />
          <div class="ml-6">
            <p class="font-small mb-3 text-subTitle font-semibold">{title}</p>
            <p class="balanced">{content}</p>
          </div>
        </div>
      </div>
    ))
  }
</div>
