<section
  id="examples"
  class="flex-col justify-center w-full min-h-[60vh] text-light transition-opacity duration-200"
>
  <p class="mb-16 text-4xl sm:text-6xl font-cursive">Our latest client</p>
  <p class="mb-8 font-medium tracking-wider max-sm:text-sm">B&C Pest Control</p>
  <div
    class="relative flex items-start w-full tablet:items-center flex-col tablet:flex-row"
  >
    <video
      autoplay
      playsinline
      loop
      muted
      poster="/images/bcpc-poster.webp"
      class="max-h-[30rem] tablet:max-h-[25.4rem] rounded-2xl bg-transparent inline shadow mb-8 sm:mb-16"
    >
      <source src="/videos/bcpc-example.webm" type="video/webm" />
    </video>
    <div class="relative tablet:ml-24">
      <p class="text-3xl sm:text-4xl font-cursive max-w-[25ch]">
        A <span class="text-gradient">striking</span> new website for
        Florida&apos;s finest pest control service
      </p>
      <span
        class="absolute translate-y-2 -translate-x-10 text-[8rem] leading-none font-cursive text-gradient opacity-10"
      >
        &quot;
      </span>
      <p class="mt-8 text-sm opacity-75 sm:text-tablet max-w-[75ch]">
        Majic created the website for our company B&C Pest Control. We told them
        we wanted something simple and informative and they delivered better
        than we expected. We would highly recommend Majic for website design,
        especially for companies looking for someone with a creative eye and
        affordable pricing.
      </p>
      <div class="flex items-end justify-between w-full mt-8 mb-16">
        <p class="text-tablet">
          Garry & JJ Reese
          <span class="block text-sm opacity-75">Owners</span>
        </p>
        <a
          href="https://www.bandcpestcontrol.com/"
          target="_blank"
          class="inline-flex h-10 text-xs font-light tracking-wider opacity-75 hover:opacity-100"
        >
          Visit
          <img
            src="/icons/right-arrow-icon.svg"
            alt=""
            width={10}
            height={10}
            class="mb-6 ml-2 translate-y-1"
          />
        </a>
      </div>
    </div>
  </div>
</section>
