<footer
  class="flex flex-col items-center justify-center w-full h-40 px-8 md:justify-between md:flex-row text-light/40"
>
  <p>©️2023 Majic Design LLC</p>
  <div class="flex flex-col items-center md:flex-row">
    <p>
      info@majicwebdesign.com<span class="hidden md:inline"> |</span> (386)
      601-9344
    </p>
  </div>
</footer>
