<footer
  class="flex flex-col items-center justify-center w-full h-40 px-8 lg:justify-between lg:flex-row opacity-75"
>
  <p>©️2024 Majic Design LLC</p>
  <div class="flex flex-col items-center lg:flex-row">
    <p>
      info@majicwebdesign.com<span class="hidden lg:inline"> |&nbsp;</span>
    </p><p>(386) 601-9344</p>
  </div>
</footer>
