---
import Button from '@/components/Button.astro';
---

<section
  class="flex flex-col items-center justify-center min-h-screen text-center"
>
  <h2 class="mb-8 text-8xl font-cursive">
    We build beautiful websites for great businesses like
    <span class="text-gradient">yours</span>
  </h2>
  <p class="mb-16 text-xl max-w-[65ch]">
    We help local businesses find new customers online and grow their digital
    presence through stand-out websites & videos. With our affordable plans and
    enchanting design we&apos;ll create a captivating experience for your
    audience.
  </p>
  <Button text="Connect with us today" />
  <div class="my-3"></div>
  <Button text="More about Majic" secondary />
</section>
