---
import Button from '@/components/Button';
---

<section
  class="flex flex-col items-center justify-center min-h-screen text-center animate-in fade-in-0 duration-1000"
>
  <h2 class="my-sm text-headline astro-font-calistoga z-10 balanced">
    We build beautiful websites for great businesses like
    <span class="text-gradient">yours</span>
  </h2>
  <p class="my-sm max-w-[65ch] astro-font-inter z-10 balanced opacity-80">
    <span class="hidden sm:inline"
      >We help local businesses find new customers online and grow their digital
      presence through stand-out websites & videos.</span
    > With our affordable prices and enchanting design we&apos;ll create a
    captivating experience for your audience.
  </p>
  <Button client:load aria="Connect with us today" margin="my-sm">
    Connect with us today
  </Button>
  <Button client:load secondary={true} aria="More about Majic">
    More about Majic
  </Button>
</section>
