---
import Button from '@/components/Button.jsx';
---

<section
  class="md:flex h-[80vh] hidden justify-center flex-col gap-20 relative"
>
  <p class="z-10 text-8xl font-cursive text-light/90 relative drop-shadow-xl">
    Let's cast a spell of <span class="flashing-text">success</span> for your
    online endeavors
  </p>
  <div>
    <Button client:visible aria="Get in touch">
      <p class="px-20">Get in touch</p>
    </Button>
  </div>
</section>
