---
import LargeCTASparkles from '@/components/LargeCTASparkles.jsx';
import Button from '@/components/Button.jsx';
---

<section class="md:flex h-[80vh] hidden justify-center flex-col gap-20">
  <div class="absolute w-screen bg-[#20204E] left-0 h-[80vh] overflow-y-clip">
    <div class="absolute w-full h-full overflow-x-clip opacity-50">
      <LargeCTASparkles client:idle />
    </div>
  </div>
  <p class="z-10 text-8xl font-cursive text-light/90 relative drop-shadow-xl">
    Let's cast a spell of <span class="flashing-text">success</span> for your
    online endeavors
  </p>
  <div>
    <Button client:visible>
      <p class="px-20">Get in touch</p>
    </Button>
  </div>
</section>
