---
import Button from '@/components/Button.jsx';
import Packages from '@/components/Packages.astro';
---

<section id="services" class="container relative flex flex-col justify-center">
  <h3 id="content-cta" class="relative z-10 mb-6 font-cursive text-headline">
    Let's cast a spell of <span class="flashing-text drop-shadow-xl"
      >success</span
    > for your online endeavors
  </h3>
  <p id="content-cta" class="pretty my-6 max-w-[65ch] opacity-95">
    You have a business to run. That’s why we go above and beyond to provide the
    most complete digital service to our clients at an affordable price. We
    offer three convenient packages that cover the majority online needs.
  </p>
  <p id="content-cta" class="pretty max-w-[65ch] opacity-95">
    For more tailored solutions, contact us today to discuss our wide array of
    a-la-carte services, from 3D modeling to logo design. Everything you need to
    thrive online.
  </p>
  <p id="content-cta" class="my-6 block font-bold">We take care of it.</p>
  <div id="content-cta" class="mb-16 mt-6">
    <Button client:visible aria="Get in touch">
      <p class="px-huge">Get in touch</p>
    </Button>
  </div>
  <Packages />
</section>
