@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calistoga';
  src: url('/fonts/Calistoga.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-primary-gradient bg-clip-text;
  }
  .text-gradient-parallax {
    @apply text-transparent bg-parallax-gradient bg-clip-text;
  }

  .form-container {
    @apply mb-4 h-28;
  }

  .form-label {
    @apply font-semibold;
  }

  .form-input {
    @apply mt-2 w-full h-12 sm:h-14 p-3 rounded-lg bg-slate-200 focus:outline-none;
  }

  .form-textarea {
    @apply resize-none w-full h-56 sm:h-[19.5rem] p-3 rounded-lg bg-slate-200 focus:outline-none mt-2;
  }
}

:root {
  --step-000: clamp(0.6944rem, 0.6619rem + 0.1578vi, 0.8rem);
  --step-00: clamp(0.8333rem, 0.7819rem + 0.2492vi, 1rem);
  --step-0: clamp(1rem, 0.9229rem + 0.3738vi, 1.25rem);
  --step-1: clamp(1.2rem, 1.0882rem + 0.5421vi, 1.5625rem);
  --step-2: clamp(1.44rem, 1.2817rem + 0.7673vi, 1.9531rem);
  --step-3: clamp(1.728rem, 1.508rem + 1.0668vi, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.7719rem + 1.4627vi, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.0793rem + 1.9834vi, 3.8147rem);
  --step-6: clamp(2.986rem, 2.4363rem + 2.6653vi, 4.7684rem);
  --step-7: clamp(3.5832rem, 2.85rem + 3.5548vi, 5.9605rem);
  --step-8: clamp(4.2998rem, 3.3281rem + 4.7114vi, 7.4506rem);

  --space-3xs: clamp(0.25rem, 0.2307rem + 0.0935vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4614rem + 0.1869vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6922rem + 0.2804vi, 0.9375rem);
  --space-s: clamp(1rem, 0.9229rem + 0.3738vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3843rem + 0.5607vi, 1.875rem);
  --space-l: clamp(2rem, 1.8458rem + 0.7477vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7687rem + 1.1215vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6916rem + 1.4953vi, 5rem);
  --space-3xl: clamp(6rem, 5.5374rem + 2.243vi, 7.5rem);
  --space-4xl: clamp(8rem, 7.3832rem + 2.9907vi, 10rem);

  --flat: 1;
  --fine: 1.15;
  --standard: 1.5;
  --loose: 1.7;
}

body {
  font-size: var(--step-0);
  line-height: var(--standard);
  color: #0d111c;
  background-color: #d8d7f3;
  overflow-x: clip !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

#container {
  max-width: clamp(16rem, 100%, 87.5rem);
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.balanced {
  text-wrap: balance;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html[data-is-top='true'] header {
  background-color: rgba(248, 250, 252, 0) !important;
}

html[data-is-top='false'] header {
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.benefit-card {
  perspective: 1000px;
}

.benefit-card img div p span {
  transform-style: preserve-3d;
}

.flashing-text {
  background: linear-gradient(90deg, #735cdd, #00a7e1, #f7b2b7, #735cdd) 0 0 /
    500% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .flashing-text {
    animation: move-bg 8s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: 500% 0;
    }
  }
}
