@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calistoga';
  src: url('/fonts/Calistoga.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-primary-gradient bg-clip-text;
  }
  .text-gradient-parallax {
    @apply text-transparent bg-parallax-gradient bg-clip-text;
  }

  .form-container {
    @apply mb-4 h-28;
  }

  .form-label {
    @apply text-lg font-semibold;
  }

  .form-input {
    @apply mt-2 w-full h-12 sm:h-14 p-3 rounded-2xl bg-slate-200 focus:outline-none;
  }

  .form-textarea {
    @apply resize-none w-full h-56 sm:h-[19.5rem] p-3 rounded-2xl bg-slate-200 focus:outline-none mt-2;
  }
}

body {
  color: #0d111c;
  overflow-x: clip !important;
  background-image: linear-gradient(
    to right,
    rgba(248, 250, 252, 0.6),
    rgba(0, 167, 225, 0.25)
  );
  background-image: linear-gradient(
    to left,
    rgba(115, 92, 221, 0.2),
    rgba(27, 82, 153, 0.4)
  );
  transition-property: color, background, border-color, text-decoration-color,
    fill, stroke !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
}

#container {
  width: min(87.5rem, 100%);
  margin: 0 auto;
  padding: 0 1.5rem;
}

html[data-is-top='true'] header {
  background-color: rgba(248, 250, 252, 0) !important;
}

html[data-is-top='false'] header {
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.benefit-card {
  perspective: 1000px;
}

.benefit-card img div p span {
  transform-style: preserve-3d;
}

.large-cta-text {
  background: linear-gradient(90deg, #735cdd, #00a7e1, #f7b2b7, #735cdd) 0 0 /
    500% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .large-cta-text {
    animation: move-bg 8s linear infinite;
  }

  @keyframes move-bg {
    to {
      background-position: 500% 0;
    }
  }
}
