---
import navLinks from '@/constants/navLinks.js';
import MobileNav from './MobileNav.jsx';
import Button from './Button.jsx';

const activeLink = Astro.url.pathname;
---

<header
  class="sticky top-0 z-50 -mb-16 flex items-center px-6 max-container:px-0 container:px-7 container:pt-xs"
>
  <div
    id="header"
    class="transition-[color, box-shadow, backdrop-filter, background-image] flex w-full items-center justify-between px-medium py-xs duration-300 container:rounded-lg"
  >
    <a href="/" class="flex cursor-pointer items-center gap-2xs">
      <div
        id="logo"
        class="transition-[color, box-shadow, backdrop-filter, background-image] h-11 w-11 duration-300"
      >
      </div>
      <h1 class="astro-font-calistoga text-logo">
        <span class="majic">Majic&nbsp;</span>
        <span class="astro-font-inter text-bread">
          | Beautiful Web <span class="hidden sm:inline">Solutions</span>
        </span>
      </h1>
    </a>
    <MobileNav client:visible />
    <nav class="hidden gap-4 sm:flex" transition:name="nav">
      {
        navLinks.map((link) => (
          <a
            href={link[0] === '' ? '/' : link[0]}
            class={`${activeLink == '/' + link[0] ? 'bg-[length:100%_6px] bg-bottom' : ''} cursor-pointer rounded-lg bg-secondary-gradient bg-[length:100%_0%] bg-bottom bg-no-repeat px-3 py-2 text-lg transition-[background-size] hover:bg-[length:100%_100%] hover:text-light`}
          >
            {link[1]}
          </a>
        ))
      }
      <a href="/contact">
        <Button client:load header={true} aria="Contact us">Contact Us</Button>
      </a>
    </nav>
  </div>
</header>
