---
import ScrollLink from './ScrollLink';
import navLinks from '@/constants/navLinks';
import MobileNav from './MobileNav';
---

<header
  id="header"
  class={`w-full z-50 fixed h-[4.5rem] backdrop-blur-lg flex items-center transition-all duration-150`}
>
  <div id="container" class="flex w-full items-center justify-between">
    <a href="/" class="flex gap-2 cursor-pointer items-center">
      <img src="/images/logo-svg.svg" alt="" width={46} height={46} />
      <h1 class="text-logo astro-font-calistoga">
        Majic{' '}
        <span class="astro-font-inter text-bread">
          | Building beautiful web
        </span>
      </h1>
    </a>
    <MobileNav client:visible />
    <nav class="hidden sm:flex gap-small">
      {
        navLinks.map((link) => (
          <ScrollLink to={link[0]} client:load>
            {link[1]}
          </ScrollLink>
        ))
      }
    </nav>
  </div>
</header>
