<header
  class="w-screen z-50 fixed h-20 bg-light backdrop-blur-lg flex items-center transition-color duration-150"
>
  <div id="container" class="flex items-center justify-between">
    <a href="/" class="flex gap-2 cursor-pointer items-center">
      <img src="/images/logo-svg.svg" class="w-14 h-14" />
      <h1 class="md:text-2xl text-lg font-cursive">Majic<br />Web Design</h1>
    </a>
    <nav class="flex gap-2">
      <a class="nav-link">About Us</a>
      <a class="nav-link">Our Work</a>
      <a class="nav-link">Services</a>
      <a class="nav-link">Contact</a>
    </nav>
  </div>
</header>
