---
import ScrollLink from './ScrollLink';
import navLinks from '@/constants/navLinks';
import MobileNav from './MobileNav';
---

<header
  class="sticky top-0 z-50 -mb-2x flex items-center pt-xs text-dark max-sm:-mb-4x"
>
  <div
    id="header"
    class="flex w-full items-center justify-between rounded-lg bg-light p-xs transition-colors duration-300"
  >
    <a href="/" class="flex cursor-pointer items-center gap-2xs">
      <img src="/images/logo-svg.svg" alt="" width={46} height={46} />
      <h1 class="astro-font-calistoga text-logo">
        <span class="majic">Majic&nbsp;</span>
        <span class="astro-font-inter text-bread">
          | Beautiful Web Solutions
        </span>
      </h1>
    </a>
    <MobileNav client:visible />
    <nav class="hidden gap-2xs sm:flex">
      {
        navLinks.map((link) => (
          <ScrollLink to={link[0]} client:load>
            {link[1]}
          </ScrollLink>
        ))
      }
    </nav>
  </div>
</header>
