---
import Button from '@/components/Button.jsx';
import Benefits from '@/components/Benefits.astro';
import ScrollLink from '@/components/ScrollLink.jsx';
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';
---

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  gsap.from('#content-about', {
    opacity: 0,
    x: -75,
    duration: 1,
    delay: 0.1,
    stagger: 0.3,
    scrollTrigger: { trigger: '#content-about', start: 'bottom bottom' },
  });

  gsap.from('#content-cta', {
    opacity: 0,
    duration: 1,
    x: -75,
    stagger: 0.3,
    delay: 0.2,
    scrollTrigger: { trigger: '#content-cta', start: 'bottom bottom' },
  });
</script>

<section id="about" class="mb-section mt-5x w-full">
  <div
    class="container mb-16 flex flex-col-reverse justify-between gap-2x tablet:flex-row"
  >
    <div
      class="flex flex-col max-tablet:items-center max-tablet:justify-center max-tablet:text-center"
    >
      <h3
        id="content-about"
        class="balanced mb-6 font-cursive text-title drop-shadow"
      >
        Running your own business is tough enough
      </h3>
      <p
        id="content-about"
        class="pretty relative mb-12 mt-6 max-w-[50ch] text-light-gray"
      >
        That&apos;s why Majic wants to provide a one-stop shop for businesses
        who need worry free web design & development services at a fair rate.
      </p>
      <div id="content-about">
        <ScrollLink nav={false} to="services" client:visible>
          <Button client:visible aria="See our affordable pricing">
            See our affordable pricing
          </Button>
        </ScrollLink>
      </div>
    </div>
    <div class="w-full max-w-[40rem] translate-y-4 max-tablet:mx-auto">
      <LottieAnimation src="/animations/workingV2.json" autoplay="visible" />
    </div>
  </div>
  <Benefits />
</section>
