<footer
  class="flex h-40 w-full flex-col items-center justify-center px-8 opacity-75 lg:flex-row lg:justify-between"
>
  <p>©️2024 Majic Design LLC</p>
  <div class="flex flex-col items-center lg:flex-row">
    <p>
      info@majicwebdesign.com<span class="hidden lg:inline"> |&nbsp;</span>
    </p><p>(386) 601-9344</p>
  </div>
</footer>
