---
import Button from '@/components/Button';
import ScrollLink from '@/components/ScrollLink';
---

<section
  class="container flex min-h-[100dvh] flex-col items-center justify-center text-center duration-1000 animate-in fade-in-0">
  <h2 class="astro-font-calistoga pretty z-10 my-6 text-headline drop-shadow">
    We build beautiful websites for
    <span class="flashing-text">amazing</span> businesses
  </h2>
  <p class="astro-font-inter balanced z-10 my-6 max-w-[65ch] text-light-gray">
    <span class="hidden sm:inline">
      We help local businesses find new customers online and grow their digital
      presence through stand-out websites & tailored design services.
    </span> With our affordable prices and enchanting style we&apos;ll create a memorable
    experience for your audience.
  </p>
  <div class="mt-6 flex flex-col gap-6 sm:flex-row">
    <ScrollLink to="contact" nav={false} client:load>
      <Button client:load aria="Connect with us today">
        Connect with us today
      </Button>
    </ScrollLink>
    <ScrollLink to="about" nav={false} client:load>
      <Button client:load secondary={true} aria="More about Majic">
        More about Majic
      </Button>
    </ScrollLink>
  </div>
</section>
