---
import { Icon } from 'astro-icon/components';
import ScrollLink from '@/components/ScrollLink.jsx';
import Packages from '@/components/Packages.astro';
---

<section
  id="services"
  class="container relative mb-section flex flex-col justify-center"
>
  <h3 id="content-cta" class="relative z-10 mb-6 font-cursive text-headline">
    Let's cast a spell of <span class="flashing-text drop-shadow-xl"
      >success</span
    > for your online endeavors
  </h3>
  <p id="content-cta" class="pretty my-6 max-w-[60ch] text-light-gray">
    We go above and beyond to provide the most complete digital service to our
    clients at an affordable price, offering three convenient packages that
    cover the majority online needs. Everything you need to thrive online.
  </p>
  <p id="content-cta" class="mb-16 mt-6 block font-bold">We take care of it.</p>
  <Packages />
  <div
    class="flex w-full flex-col items-center justify-center rounded-lg bg-[#94ADFF] p-16 text-center text-dark-purple selection:bg-dark-purple selection:text-light"
  >
    <h2 class="font-cursive text-title">Need something more specific?</h2>
    <p class="pretty mb-8 mt-6 max-w-[65ch] font-medium">
      Get in touch for a personalized quote or check out our services page to
      see everything we offer, from 3D modeling to logo design and beyond!
    </p>
    <div class="flex gap-6">
      <a href="/contact">
        <button
          aria-label="Get in touch"
          class="cursor-pointer rounded-lg bg-dark-purple px-huge py-5 text-subtitle text-light drop-shadow-xl transition-all duration-75 hover:bg-dark"
        >
          <strong class="flashing-text px-huge">Contact us</strong>
        </button>
      </a>
      <a href="/services">
        <button
          aria-label="Get in touch"
          class="cursor-pointer rounded-lg bg-dark-purple/75 px-huge py-5 text-subtitle text-light/90 drop-shadow-xl transition-all duration-75 hover:bg-dark"
        >
          <p class="px-small">See all services</p>
        </button>
      </a>
    </div>
  </div>
</section>
