---
import '@/styles/global.css';
import { ScrollObserver } from 'astro-scroll-observer';
import { AstroFont } from 'astro-font';
import Header from '@/components/Header.astro';
import BGSparkles from '@/components/BGSparkles.jsx';
---

<html
  lang="en"
  class="selection:bg-blurple selection:text-dark motion-reduce:scroll-auto"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico?" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Majic Web Design is an affordable custom web design and development studio based in Central Florida."
    />
    <meta
      name="keyword"
      content="web design, website, development, video editing, creative, business, branding, marketing, apps"
    />
    <meta property="og:title" content="Majic Web Design" />
    <meta
      property="og:description"
      content="Majic Web Design is an affordable custom web design and development studio based in Central Florida."
    />
    <meta property="og:image" content="/images/og-logo.png" />
    <title>Dev | Majic Web Design</title>
    <ScrollObserver />
    <AstroFont
      config={[
        {
          name: 'Calistoga',
          src: [
            {
              style: 'normal',
              weight: '400',
              path: 'fonts/Calistoga.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: '.astro-font-calistoga',
          fallback: 'serif',
        },
      ]}
    />
    <AstroFont
      config={[
        {
          name: 'Inter',
          src: [
            {
              style: 'normal',
              weight: '400',
              path: 'fonts/Inter.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: '.astro-font-inter',
          fallback: 'sans-serif',
        },
      ]}
    />
    <script>
      import Lenis from 'lenis';

      const lenis = new Lenis({ syncTouch: false });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      import { gsap } from 'gsap';
      import { ScrollTrigger } from 'gsap/ScrollTrigger';

      gsap.registerPlugin(ScrollTrigger);
    </script></head
  >

  <body>
    <Header />
    <BGSparkles client:idle />
    <div id="container" class="max-lg:overflow-x-clip">
      <slot />
    </div>
  </body>
</html>
