---
import '@/styles/global.css';
import { ScrollObserver } from 'astro-scroll-observer';
import { AstroFont } from 'astro-font';
import Header from '@/components/Header.astro';
import GradientBG from '@/components/GradientBG.astro';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html
  lang="en"
  class="selection:bg-blurple selection:text-dark motion-reduce:scroll-auto"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico?" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="An affordable custom web design and development studio based in Central Florida."
    />
    <meta
      name="keyword"
      content="web design, website, development, video editing, creative, business, branding, marketing, apps"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="Majic Web Design" />
    <meta property="og:title" content="Majic Web Design" />
    <meta
      property="og:description"
      content="An affordable custom web design and development studio based in Central Florida."
    />
    <meta property="og:image" content="/images/og-logo-v2.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Majic Web Design" />
    <meta
      property="twitter:description"
      content="An affordable custom web design and development studio based in Central Florida."
    />
    <meta property="twitter:image" content="/images/og-logo-v2.png" />
    <meta property="twitter:url" content={canonicalURL} />
    <title>Dev | Majic Web Design</title>
    <ScrollObserver />
    <AstroFont
      config={[
        {
          name: 'Calistoga',
          src: [
            {
              style: 'normal',
              weight: '400',
              path: 'fonts/Calistoga.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: '.astro-font-calistoga',
          fallback: 'serif',
        },
        {
          name: 'Inter',
          src: [
            {
              style: 'normal',
              weight: '400',
              path: 'fonts/Inter.woff2',
            },
          ],
          preload: true,
          display: 'swap',
          selector: '.astro-font-inter',
          fallback: 'sans-serif',
        },
      ]}
    />
    <script>
      import Lenis from 'lenis';

      const lenis = new Lenis();

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script></head
  >

  <body>
    <GradientBG />
    <Header />
    <main class="max-lg:overflow-x-clip">
      <slot />
    </main>
  </body>
</html>
