---
import { ScrollObserver } from 'astro-scroll-observer';
import { Lenis } from '@studio-freight/react-lenis';
import Header from '@/components/Header.jsx';
---

<html
  lang="en"
  class="selection:bg-blurple selection:text-dark motion-reduce:scroll-auto"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico?" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="We help local business find new customers online and grow their business through stand-out websites & videos."
    />
    <meta property="og:title" content="Majic Web Design" />
    <meta
      property="og:description"
      content="We help local business find new customers online and grow their business through stand-out websites & videos."
    />
    <meta property="og:image" content="/images/og-logo.png" />
    <title>Majic Web Design</title>
    <ScrollObserver />
  </head>

  <body>
    <Lenis client:load root options={{ smoothWheel: true, smoothTouch: false }}>
      <Header client:load />
      <div id="container" class="max-md:overflow-x-hidden">
        <slot />
      </div>
    </Lenis>
  </body>
</html>
